h1 {
  margin-top: 20px;
  font-size: 20px;
}

.App {
  margin: 8px;
}

.App-output {
  font-style: fixed;
}

.App-logo {
  /*animation: App-logo-spin infinite 0.5s linear;*/
  height: 130px;
  margin: -57px -20px;
}

.App-trackChange {
  animation: App-change-frames 5s linear;
}

@keyframes App-change-frames {
  0% { background-color: #ffff00; }
  100% { background-color: #ffffff; }
}

@keyframes App-logo-spin {
  0% { transform: rotate(-2deg); }
  50% { transform: rotate(2deg); }
  100% { transform: rotate(-2deg); }
}
